.records-wrapper {
    @include flex(flex, center, center);
    flex-wrap: wrap;
    padding: $base_padding;
}

.record {
    @include flex(none, flex-start, center);
    flex-direction: column;
    padding: 20px;
    margin: 10px 20px;
    height: 360px;
    background: $bg_header;
    text-align: center;
    border-radius: 8px;
    width: 25%;

    &.active {
        display: flex;
    }

    .title {
        margin-top: 0;
        font-size: $base_fontsize;
    }
}

.title,
.author,
.genre,
.year {
    color: $base_color;
}

.author,
.genre,
.year {
    font-style: italic;
    font-size: $info_fontsize;
}