$base_color: cornsilk;
$bg_header: rgb(2,0,27);
$bg_body: linear-gradient(315deg, rgb(2,0,36) 0%, rgb(50,75,80) 40%, rgb(0,212,255) 100%);
$base_fontsize: 20px;
$base_fontfam: Arial;
$info_fontsize: 14px;
$base_padding: 100px 0;
$base_margin: 0 10px;